        <!-- Slider Start -->
        <section id="global-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1>I Believe In:</h1>
                            <p style="text-align:center">"Without your involvement you can't succeed, With your involvement you can't fail"</p>
                            <p style="text-align:center"><i>- A.P.J Abdul Kalam</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>