---
layout: default
title: Data Engineering
---

{% include data-engineering-slider.html %} 

   <!-- Blog HTML START-->
   <section id="blog">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1"> 

                
                {% for post in paginator.posts %}
                {% if post.category == "data" %}
                <!-- Blog Post 1-->
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

                <p class="lead">by <a href="#">{{ post.author }}</a></p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date:"%B %d, %Y" }}</p>             
                <hr>
                {{ post.excerpt }}
                
                <a class="btn btn-primary" href="{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr> 
                {% endif %}
                {% endfor %}
                
                <!-- Pagination links -->
                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">
                        Previous
                    </a>
                    {% else %}
                    <span class="previous">Previous</span>
                    {% endif %}
                    <span class="page_number ">
                    Page: {{ paginator.page }} of {{ paginator.total_pages }}
                    </span>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                    {% else %}
                    <span class="next ">Next</span>
                    {% endif %}
                </div>



            </div>
        </div> 
    </div>
</section>
    <!-- Blog HTML END-->