        <!-- Slider Start -->
        <section id="global-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1>Machine & Deep Learning</h1>
                            <p style="text-align:center">Multiple Blog Post on Machine & Deep Learning Techniques.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>