        <!-- Slider Start -->
        <section id="global-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1>Probability & Statistics</h1>
                            <p style="text-align:center">Multiple Blog Post on Glimpse of Probability & Statistics with Python Basics.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>